<%-include("header")-%>
<h1>hello <%=foo%></h1>
    <ul>
<%for (let i=0;i<foo2.length;i++){%>

    <li><%=foo2[i]%></li>
<%}%>
</ul>
    <form action="/" method="post">

        <input type="text" name="intu">
    <button name="button" type="submit">+</button>

    </form>
    

</body>
</html>